.env*
!.env.example
node_modules/
.vercel/
.tmp/

build/
dist/
.pio/
.gradle/
.local/
__pycache__/
*.pyc
target/
bin/
obj/
*.class
*.db
*.db-wal
*.db-shm
core
core.*

.output/
.vercel/
*.lock
!package-lock.json
!bun.lock
